<html th:replace="~{shared/layout::layoutFragment('My Form', ~{::main}, null, null)}">

<main class="container">
    <div class="card">
        <div class="card-header">
            <h3>My Form</h3>
        </div>
        <div class="card-body">
            <form th:action="@{/process-form}" method="get">
                <label class="form-label">Emri</label>
                <input type="text"
                       class="form-control"
                       placeholder="Shkruaj emrin..."
                       name="myName"
                       required
                />

                <label class="form-label">Mbiemri</label>
                <input type="text"
                       class="form-control"
                       placeholder="Shkruaj mbiemrin..."
                       name="mySurname"
                       required
                />

                <label class="form-labe">Mosha</label>
                <input type="number"
                       class="form-control"
                       placeholder="Shkruaj moshen..."
                       name="myAge"
                       required
                />

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</main>

</html>