<html th:replace="~{shared/layout::layoutFragment('Students', ~{::main}, null, null)}">

<main class="container">
    <h2>Lista e studenteve</h2>
    <table class="table table-striped table-bordered">
        <tr>
            <th>Emri</th>
            <th>Mosha</th>
            <th>Universiteti</th>
        </tr>
        <tr th:each="st : ${studentList}">
            <td th:text="${st.name}"></td>
            <td th:text="${st.age}"></td>
            <td th:text="${st.university}"></td>
        </tr>
    </table>
</main>

</html>