<html th:replace="~{shared/layout::layoutFragment('Student Profile', ~{::main}, null, null)}">

<main class="container">
    <div class="card">
        <div class="card-header">
            <h4>Profili i studentit</h4>
        </div>
        <div class="card-body">
            <p>Emri: <span th:text="${student.name}"></span></p>
            <p>Mosha: <span th:text="${student.age}"></span></p>
            <p>Universiteti: <span th:text="${student.university}"></span></p>
        </div>
    </div>
</main>

</html>