<html th:replace="~{shared/layout::layoutFragment('Submitted user', ~{::main}, null, null)}">

<main class="container">
    <h2>Te dhenat e juaja jane derguar me sukses</h2>
    <p>Emri dhe mbiemri: <span th:text="${user.name}"></span></p>
    <p>Mosha: <span th:text="${user.age}"></span></p>
    <p>Email: <span th:text="${user.email}"></span></p>
    <p th:if="${user.country == 'ks'}">Shteti: Kosove</p>
    <p th:if="${user.country == 'al'}">Shteti: Shqiperi</p>
    <p th:if="${user.country == 'mk'}">Shteti: Maqedoni</p>
    <p>Gjuha e preferuar: <span th:text="${user.favoriteLanguage}"></span></p>
    <p>Hobit e zgjedhur: <span th:text="${user.hobbies}"></span></p>
</main>

</html>