<html th:replace="~{shared/layout::layoutFragment('Submitted students', ~{::main}, null, null)}">

<main class="container">
    <h1>Submitted students list</h1>

    <table class="table table-striped table-bordered">
        <tr>
            <th>Emri Mbiemri</th>
            <th>Mosha</th>
            <th>Universiteti</th>
        </tr>
        <tr th:each="st : ${studentsList}">
            <td th:text="${st.name}"></td>
            <td th:text="${st.age}"></td>
            <td th:text="${st.university}"></td>
        </tr>
    </table>
</main>

</html>