<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <!--    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">-->
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>User form</title>
</head>
<body>
<div th:replace="layout/nav"></div>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>User Form</h3>
        </div>
        <div class="card-body">
            <form th:action="@{/process-user-data}" th:object="${user}" method="post">
                <!--                Ne vend se me perdor ${user.name} po e perdorim *{name} pasiqe e kemi bo bind objektin me th:object -->
                <div class="mb-3">
                    <label class="form-label">Emri</label>
                    <input type="text"
                           class="form-control"
                           placeholder="Shkruaj emrin dhe mbiemri..."
                           th:field="*{name}"
                           th:classappend="${#fields.hasErrors('name') ? 'is-invalid' : ''}"
                    />
                    <div th:if="${#fields.hasErrors('name')}"
                         th:errors="*{name}"
                         class="invalid-feedback"
                    ></div>
                </div>

                <div class="mb-3">
                    <label class="form-label">Mosha</label>
                    <input type="number"
                           class="form-control"
                           placeholder="Shkruaj moshen..."
                           th:field="*{age}"
                           th:classappend="${#fields.hasErrors('age') ? 'is-invalid' : ''}"
                    />
                    <div th:if="${#fields.hasErrors('age')}"
                         th:errors="*{age}"
                         class="invalid-feedback"
                    ></div>
                </div>

                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input type="email"
                           class="form-control"
                           placeholder="Shkruan email-in..."
                           th:field="*{email}"
                           th:classappend="${#fields.hasErrors('email') ? 'is-invalid' : ''}"
                    />
                    <div th:if="${#fields.hasErrors('email')}"
                        th:errors="*{email}"
                        class="invalid-feedback"
                    ></div>
                </div>

                <div class="mb-3">
                    <label class="form-label">Numri i telefonit</label>
                    <input type="text"
                           class="form-control"
                           placeholder="Shkruan numrin e telefonit..."
                           th:field="*{phoneNo}"
                           th:classappend="${#fields.hasErrors('phoneNo') ? 'is-invalid' : ''}"
                    />
                    <div th:if="${#fields.hasErrors('phoneNo')}"
                         th:errors="*{phoneNo}"
                         class="invalid-feedback"
                    ></div>
                </div>

                <div class="mb-3">
                    <label class="form-label">Shteti</label>
                    <!--                    <select name="country">-->
                    <!--                    country=ks-->
                    <select th:field="*{country}" class="form-select">
                        <option value="" disabled selected>Zgjedh shtetin</option>
                        <option value="ks">Kosove</option>
                        <option value="al">Shqiperi</option>
                        <option value="mk">Maqedoni</option>
                    </select>
                </div>

                <!--                favoriteLanguage=Java-->
                <!--                id na lidhet me for qe me mujt useri nepermjet tekstit me bo check radio butonin-->
                <div class="mb-3">
                    <label>Zgjedh gjuhen e preferuar: </label>
                    <input type="radio" id="java" th:field="*{favoriteLanguage}" value="Java">
                    <label for="java">Java</label>

                    <input type="radio" id="python" th:field="*{favoriteLanguage}" value="Python">
                    <label for="python">Python</label>

                    <input type="radio" id="js" th:field="*{favoriteLanguage}" value="JavaScript">
                    <label for="js">JavaScript</label>
                </div>

                <div class="mb-3">
                    <label>Zgjedh hobit: </label>
                    <input type="checkbox" id="reading" th:field="*{hobbies}" value="Leximi">
                    <label for="reading">Leximi</label>

                    <input type="checkbox" id="traveling" th:field="*{hobbies}" value="Udhetimi">
                    <label for="traveling">Udhetimi</label>

                    <input type="checkbox" id="sports" th:field="*{hobbies}" value="Sportet">
                    <label for="sports">Sportet</label>
                </div>

                <div class="text-end">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>