<html th:replace="~{shared/layout::layoutFragment('Shto kategori', ~{::main}, null, null)}">

<main class="container">
    <div class="card">
        <div class="card-header">
            <h5>Shto kategori</h5>
        </div>
        <div class="card-body">
            <form th:action="@{/categories/add}" th:object="${category}" method="post">
                <div class="mb-3">
                    <label for="name" class="form-label">Emri i kategorise</label>
                    <input type="text" id="name" class="form-control" th:field="*{name}">
                    <div th:if="${#fields.hasErrors('name')}"
                         th:errors="*{name}"
                         class="text-danger"
                    ></div>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Pershkrimi</label>
                    <textarea id="description" class="form-control" th:field="*{description}"></textarea>
                </div>

                <hr>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Ruaj</button>
                    <a th:href="@{/categories}" class="btn btn-outline-secondary ms-2">Anulo</a>
                </div>
            </form>
        </div>
    </div>
</main>

</html>